@import '../../styles/variables';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 20px;
}

.title {
    margin-bottom: 20px;

    font-size: $h1;
    line-height: lineHeight($h1);
}

.description {
    font-size: $p;
    line-height: lineHeight($p);
}
